.user_card {
	height: 470px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	/*background: #f39c12;*/
	/*background: rgba(64, 64, 64, 0.09);*/
	background: white;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}
.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	/*background: #60a3bc;*/
	/*background: white;*/
	padding: 10px;
	text-align: center;
}
.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid #283487;
}
.form_container {
	margin-top: 100px;
}

.login_btn {
	width: 100%;
	background: #FF0000 !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}

.alert-danger {
	color: #78261f !important;
	background-color: #fadbd8 !important;
	border-color: #f8ccc8 !important;
}
.alert-dismissible .close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	padding: 0.75rem 1.25rem;
	color: inherit;
}


.app {
	padding-top: 2.875rem
}

@media (max-width: 991.98px) {
	.app {
		padding-top: 5.8125rem
	}
}

@media (min-width: 992px) {
	.app.app-boxed-layout {
		background: #ddd;
		min-height: 100%
	}

	.app.app-boxed-layout, .app.app-boxed-layout .app-header {
		max-width: 80rem;
		margin-left: auto;
		margin-right: auto
	}

	.app.app-boxed-layout .app-sidebar {
		left: auto
	}
}

.app.app-full-height {
	height: 100%
}

.app.app-without-header {
	padding-top: 0
}

.login {
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 100%
}

.login a, .register a {
	/*color: #fff;*/
	text-decoration: underline
}

.login a:focus, .login a:hover {
	/*color: rgba(255, 255, 255, .75)*/
}

.login .login-cover {
	/*background: url(img/login-cover.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0
}

.login .login-cover:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, #000 100%)*/
}

.login .login-content {
	max-width: 30rem;
	margin: 0 auto;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.login .login-content h3 span, .register .register-content h3 span {
	border-bottom: .125rem solid rgba(255, 255, 255, .5);
	padding-bottom: .3125rem
}

.login .login-brand {
	font-size: 1rem;
	margin-bottom: 1.875rem
}

.login .login-brand a {
	text-decoration: none;
	/*color: #c84a81*/
}

.login .login-brand b, .register .register-brand b {
	background: #fff;
	color: #000;
	padding: 0 .375rem;
	margin-right: .3125rem;
	border-radius: 3px
}

.login .form-control {
	background: rgba(255, 255, 255, .35);
	border-color: transparent;
	color: #fff
}

.login .form-control:focus {
	box-shadow: 0 0 0 .125rem #fff
}

.login .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .25)
}

.login .form-control::-moz-placeholder {
	color: rgba(255, 255, 255, .25)
}

.login .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, .25)
}

.login .form-control:-moz-placeholder {
	color: rgba(255, 255, 255, .25)
}

.login .login-desc {
	color: rgba(255, 255, 255, .5)
}

.login .checkbox input:not(:checked) + label:before, .login .checkbox-inline input:not(:checked) + label:before, .register .checkbox input:not(:checked) + label:before, .register .checkbox-inline input:not(:checked) + label:before {
	background: 0 0
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	/*background-image: url('../../img/login/login_bg.png');*/
	/*background-color: #0d0f12;*/
	/*background-image: url('bg-gtm-2020.png');*/
	background-position: 50%;
	background-size: cover;
	background-color:#d1d3e2!important;
}
.banner-signIn{
	/*background-image: url('../../img/login.jpg');*/
	background-image: url('../../img/signup.jpg');
}
.banner-signOut{
	/*background-image: url('../../img/signup.jpg');*/
}

@media (min-width: 320px) and (max-width: 480px) {
	.banner {
		display: none;
	}
}



/*!**  =====================*/
/*      Authentication css start*/
/*==========================  **!*/
/*.auth-wrapper {*/
/*	position: relative;*/
/*	display: flex;*/
/*	align-items: center;*/
/*	justify-content: center;*/
/*	overflow: hidden;*/
/*	min-width: 100%;*/
/*	min-height: 100vh;*/
/*	background: #4680ff;*/
/*}*/

/*@media (min-width: 1200px) {*/
/*	.auth-wrapper .container {*/
/*		max-width: 1140px;*/
/*	}*/
/*}*/

/*@media (-ms-high-contrast: none), (-ms-high-contrast: active) {*/
/*	.auth-wrapper {*/
/*		display: block;*/
/*		margin: 0 auto;*/
/*	}*/

/*	.auth-wrapper > .row {*/
/*		min-height: 100vh;*/
/*	}*/

/*	.auth-wrapper > .row > .aut-bg-img {*/
/*		min-height: 100vh;*/
/*	}*/
/*}*/

/*.auth-wrapper .saprator {*/
/*	position: relative;*/
/*	margin: 8px 0;*/
/*}*/

/*.auth-wrapper .saprator span {*/
/*	background: #fff;*/
/*	position: relative;*/
/*	padding: 0 10px;*/
/*	z-index: 5;*/
/*	font-size: 20px;*/
/*}*/

/*.auth-wrapper .saprator:after {*/
/*	content: "";*/
/*	position: absolute;*/
/*	top: 15px;*/
/*	left: 0;*/
/*	width: 100%;*/
/*	height: 1px;*/
/*	background: #e2e5e8;*/
/*	z-index: 1;*/
/*}*/

/*.auth-wrapper a,*/
/*.auth-wrapper p > a {*/
/*	color: #37474f;*/
/*	font-weight: 600;*/
/*}*/

/*.auth-wrapper .input-group {*/
/*	background: transparent;*/
/*}*/

/*.auth-wrapper .card {*/
/*	margin-bottom: 0;*/
/*	padding: 8px;*/
/*}*/

/*.auth-wrapper .card .card-body {*/
/*	padding: 20px 25px 20px 40px;*/
/*}*/

/*@media (-ms-high-contrast: none), (-ms-high-contrast: active) {*/
/*	.auth-wrapper .card {*/
/*		display: block;*/
/*	}*/
/*}*/

/*.auth-wrapper > div {*/
/*	z-index: 5;*/
/*}*/

/*.auth-wrapper .auth-content {*/
/*	position: relative;*/
/*	padding: 15px;*/
/*	z-index: 5;*/
/*}*/

/*.auth-wrapper .auth-content:not(.container) {*/
/*	width: 400px;*/
/*}*/

/*.auth-wrapper .auth-content:not(.container) .card-body {*/
/*	padding: 40px 35px;*/
/*}*/

/*@media (-ms-high-contrast: none), (-ms-high-contrast: active) {*/
/*	.auth-wrapper .auth-content {*/
/*		margin: 0 auto;*/
/*	}*/
/*}*/

/*.auth-wrapper .auth-side-img {*/
/*	padding-right: 400px;*/
/*	position: absolute;*/
/*	width: 100%;*/
/*	top: 0;*/
/*	left: 0;*/
/*	justify-content: center;*/
/*}*/

/*@media only screen and (max-width: 991px) {*/
/*	.auth-wrapper .auth-side-img {*/
/*		display: none;*/
/*	}*/
/*}*/

/*.auth-wrapper .auth-side-form {*/
/*	position: relative;*/
/*	min-height: 100%;*/
/*	background: #fff;*/
/*	display: inline-flex;*/
/*	align-items: center;*/
/*	left: auto;*/
/*	float: right;*/
/*}*/

/*.auth-wrapper .auth-side-form > * {*/
/*	position: relative;*/
/*	z-index: 5;*/
/*}*/

/*@media only screen and (max-width: 991px) {*/
/*	.auth-wrapper .auth-side-form {*/
/*		width: 100%;*/
/*		justify-content: center;*/
/*	}*/

/*	.auth-wrapper .auth-side-form .auth-content:not(.container) {*/
/*		max-width: 350px;*/
/*	}*/
/*}*/

/*@media (-ms-high-contrast: none), (-ms-high-contrast: active) {*/
/*	.auth-wrapper.aut-bg-img .auth-side-form {*/
/*		height: 100vh;*/
/*	}*/
/*}*/

/*@media only screen and (max-width: 767px) {*/
/*	.auth-wrapper .card .card-body {*/
/*		padding: 30px 15px;*/
/*	}*/
/*}*/

/*.auth-wrapper.offline {*/
/*	background-image: none;*/
/*}*/

/*.auth-wrapper.offline h1 {*/
/*	font-size: 87px;*/
/*	font-weight: 700;*/
/*}*/

/*.auth-wrapper.offline:before {*/
/*	display: none;*/
/*}*/

/*.auth-wrapper .card-body .carousel-indicators {*/
/*	margin: 15px 0 10px;*/
/*	bottom: 0;*/
/*}*/

/*.auth-wrapper .card-body .carousel-indicators li {*/
/*	width: 50px;*/
/*	background-color: rgba(70, 128, 255, 0.4);*/
/*	border-radius: 5px;*/
/*	height: 4px;*/
/*}*/

/*.auth-wrapper .card-body .carousel-indicators li.active {*/
/*	background-color: #4680ff;*/
/*}*/

/*.auth-wrapper .img-logo-overlay {*/
/*	position: absolute;*/
/*	top: 40px;*/
/*	left: 50px;*/
/*}*/





.registration-logo {
	padding: 0;
	/*margin: 100px 0 40px 0;*/
	width: 100%;
}

.registration-logo img {
	padding: 0;
	display: block;
	margin: 0 auto;
	text-align: center;
	height: auto;
}

.signup-content {
	width: 100%;
	overflow: hidden;
}

.ftco-section {
	background: #fff;
}

.ftco-section h2 {
	margin-bottom: 0;
}

.modal-dialog {
	max-width: 600px;
}

.modal-content {
	overflow: hidden;
	border: none;
	position: relative;
	padding: 0 !important;
	-webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.modal-content .modal-header {
	position: relative;
	padding: 0;
	border: none;
	height: 230px;
	background: #915eff;
	background: -moz-linear-gradient(45deg, #915eff 0%, #ff8e59 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, #915eff), color-stop(100%, #ff8e59));
	background: -webkit-linear-gradient(45deg, #915eff 0%, #ff8e59 100%);
	background: -o-linear-gradient(45deg, #915eff 0%, #ff8e59 100%);
	background: -ms-linear-gradient(45deg, #915eff 0%, #ff8e59 100%);
	background: linear-gradient(45deg, #915eff 0%, #ff8e59 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#915eff', endColorstr='#ff8e59', GradientType=1);
}

.modal-content button.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	width: 40px;
	height: 40px;
	z-index: 1;
	color: #fff;
}

.modal-content .modal-body {
	border: none;
	overflow: hidden;
	margin-top: -180px;
	z-index: 2;
}

.modal-content .modal-body .icon {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	font-size: 30px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.modal-content .modal-body h2 {
	font-weight: 700;
	color: #fff;
}

.modal-content .modal-body h4 {
	font-size: 18px;
}

.modal-content .modal-body h3 {
	font-weight: 800;
	font-size: 22px;
}

.modal-content .modal-body h3 span {
	font-weight: 300;
}

.ftco-degree-bg {
	position: relative;
}

.ftco-degree-bg:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -30px;
	overflow: visible;
	width: 50%;
	height: 60px;
	z-index: 1;
	-webkit-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
	-ms-transform: skewY(-10deg);
	-o-transform: skewY(-10deg);
	transform: skewY(-10deg);
	background-color: #fff;
}

.ftco-degree-bg:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -30px;
	overflow: visible;
	width: 50%;
	height: 60px;
	z-index: 1;
	-webkit-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
	-ms-transform: skewY(10deg);
	-o-transform: skewY(10deg);
	transform: skewY(10deg);
	background-color: #fff;
}

