.select2-container--default .select2-selection--single {
	border: 1px solid #d1d3e2;
	border-radius: 0.35rem 0 0 0.35rem;
	outline: none;
	height: 38px;
	padding-top: 5px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
	outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 6px;
}
